@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import '../module/utils.scss';

//  Phone & Tablet
@media(max-width: 1023px){
  .middle-wrapping{
    font-family: 'Noto Sans KR', sans-serif;
    padding: 20px 20px 35px 20px;
    margin-top: 80px;
    .contents{
      border: 1px solid grey;display: flex;
      flex-direction: column-reverse;
      background: rgb(255, 255, 255);
    }
  }
}

@media(min-width: 1024px){
  .middle-wrapping{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px 45px 0px;
    margin-top: 80px;

    .contents{
      width: 97%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: flex;
    }
  }
}

.map_background{
  background-color: $content-background;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: -5px -5px 30px 5px rgb(207, 75, 75), 5px 5px 15px 5px rgb(203, 83, 250);
}