@import '../../module/utils.scss';

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 100 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color};
  }
  @return $val;
}

//  Phone & Tablet
@media(max-width: 1023px){
  .contentsBox{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
      display: flex;
      width: 90%;
      height: 80%;
      justify-content: center;
    }
  }
}

// 모듈화 하자... .content explanation{}이런 식으로...
.contentsBox{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .content{
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: center;
    .explanation{
      height: 5%;
      text-align: center;
      font-size: 20px;
      font-weight: bolder;
    }
    .main_contents_list_element{
      height: 80%;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .link_wrapper{
        height: 25%;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
          margin: 10px 0px;
          width: 100%;
        }
        a{
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
          color: rgb(34, 255, 225);
        }
      }
    }
  }
}

.background{
  background-color: $content-background;
  border-radius: 15px;
  margin-top: 76px;
  box-shadow: -5px -5px 30px 5px rgb(255, 98, 98), 5px 5px 30px 5px rgb(150, 0, 209);
}
.intro{
  flex-direction: column;
  align-items: flex-start;
  .main_text{
    text-shadow: makelongshadow(#4e2939);
  }
  .sub_text{
    text-shadow: makelongshadow(#2c1821);
  }
}

.sub_text{
  font-size: 30px;
  margin: 10px 0px;
}
.main_text{
  font-size: 50px;
}

.column{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content_title{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  p{
    margin: 0px;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}
.list_area{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  .technic_list{
    width: 50%;
    height: 100%;
  }
}

.border_top{
  border-top: 2px solid rgb(224, 171, 255);
}
.border_right{
  border-right: 2px solid rgb(224, 171, 255);
}

.flex_area_row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.flex_area_column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.height_per10{
  height: 10%;
}
.height_per15{
  height: 15%;
}
.height_per80{
  height: 80%;
}
.height_per100{
  height: 100%;
}
.width_per45{
  width: 45%;
  margin: 0px 10px;
  font-size: 20px;
  font-weight: bold;
}
.width_per90{
  width: 90%;
}
.width_per100{
  width: 100%;
}

.icon{
  margin: 10px 0px;
  img{
    height: 50px;
    width: 100px;
  }
}

.a_deco_none{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(185, 110, 247);
}

//  title 관련
.text_center{
  text-align: center;
}