@import '../../module/utils.scss';

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 100 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color};
  }
  @return $val;
}

//  Phone & Tablet
@media(max-width: 1023px){
  .contentsBox{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
      display: flex;
      width: 90%;
      height: 80%;
      justify-content: center;
      .a_deco_none{
          font-size: 15px;
        }
      .sub_text{
        font-size: 20px;
      }
      .main_text{
        font-size: 27px;
      }
      .link_wrapper{
        height: 25%;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
          font-size: 10px;
          font-weight: bold;
          text-decoration: none;
          color: rgb(34, 255, 225);
        }
      }
      .img_wrapper{
        
        img{
          width: 100%;
          height: 100%;
        }
      }
      .icon{
        img{
          width: 70%;
          height: 100%;
        }
        .info_text{
          font-size: 15px;
        }
      }
      .link_content{
        .icon{
          img{
            width: 30px;
            height: 50px;
          }
        }
      }
    }
  }
}

@media(min-width: 1023px){
  .contentsBox{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .content{
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: center;
    .info_gif{
      .img_wrapper{
        height: 50%;
      }
    }
    
    .link_wrapper{
        height: 25%;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
          color: rgb(34, 255, 225);
        }
      }
    }
  }
}

.background{
  background-color: $content-background;
  border-radius: 15px;
  margin-top: 76px;
  box-shadow: -5px -5px 30px 5px rgb(255, 98, 98), 5px 5px 30px 5px rgb(150, 0, 209);
}
.intro{
  flex-direction: column;
  align-items: flex-start;
  .main_text{
    text-shadow: makelongshadow(#4e2939);
  }
  .sub_text{
    text-shadow: makelongshadow(#2c1821);
  }
}


.column{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content_title{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  p{
    margin: 0px;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}
.list_area{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  .technic_list{
    width: 50%;
    height: 100%;
  }
}

.border_top{
  border-top: 2px solid rgb(224, 171, 255);
}
.border_right{
  border-right: 2px solid rgb(224, 171, 255);
}

.flex_area_row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.flex_area_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
// height
.height_per10{
  height: 10%;
}
.height_per15{
  height: 15%;
}
.height_per50{
  height: 50%;
}
.height_per80{
  height: 80%;
}
.height_per100{
  height: 100%;
}
//  width
.width_per20{
  width: 30%;
}
.width_per45{
  width: 45%;
  padding: 0px 10px;
}
.width_per60{
  width: 60%;
}
.width_per90{
  width: 90%;
}
.width_per100{
  width: 100%;
}

.icon{
  margin: 10px 0px;
  font-size: 10px;
  img{
    height: 50px;
    width: 100px;
  }
}

//  text 관련
.text_center{
  text-align: center;
}
.sub_text{
  font-size: 30px;
  margin: 10px 0px;
}
.main_text{
  font-size: 50px;
}
.info_text{
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
.a_deco_none{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(185, 110, 247);
}