@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

//  Phone & Tablet
@media(max-width: 1023px){
  .inner_wrapper{
    height: 100vh;
    overflow-y: auto;
  }
  /* 화면에서 스크롤바 안보이게 */
  .inner_wrapper::-webkit-scrollbar {
  display: none;
  }
}

@media(min-width: 1024px){
  .inner_wrapper{
    height: 100vh;
    overflow-y: auto;
  }
  /* 화면에서 스크롤바 안보이게 */
  .inner_wrapper::-webkit-scrollbar {
  display: none;
  }
}