@import './utils.scss';

@media(max-width: 1023px){
  .middle-wrapping{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .top{
      display: flex;
      justify-content: center;
      .map-block{
        display: flex;
        width: 95%;
        height: 100%;
        #map {
          display: inline-block;
          width: 100%;
          height: 600px;
          .wrap {position: absolute;left: 0;bottom: 35px;width: 388px;height: 132px;margin-left: -190px;text-align: center;overflow: hidden;font-size: 15px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
          .wrap * {padding: 0;margin: 0;}
          .wrap .info {width: 386px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
          .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
          .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
          .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
          .info .close:hover {cursor: pointer;}
          .info .body {position: relative;overflow: hidden;}
          .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
          .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
          .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
          .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
          .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
        }
      }
    }
  }
}

@media(min-width: 1024px){
  .middle-wrapping{
    width: 100%;
    height: 100%;
    display: flex;
    // background: rgb(144, 240, 227);
    align-items: center;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    //  left css
    .left{
      height: 80vh;
      // width: 30%;
      flex-basis: 300px;
      background: rgb(255, 255, 255);
      // border-right: 5px solid rgb(34, 252, 179);
      .left-innerWrapper{
        .list{
          // display: flex;
          padding-left: 0px;
          list-style: none;
          li{
            height: 130px;
            border-top: 2px solid rgb(165, 165, 165);
            // border-radius: 10px;
            // padding: 10px;
            // margin: 0px 0px 10px 0px;
            div{
              // width: 100%;
              // height: 10px;
              padding: 10px;
              height: 130px;
            }
          }
          .name{
            font-size: 15px;
          }
        }
      }
    }

    //  right css
    .right{
      width: 70%;
      height: 100%;
      .map-block{
        display: flex;
        width: 100%;
        height: 100%;
        #map {
          display: inline-block;
          width: 100%;
          height: 80vh;
          .wrap {position: absolute;left: 0;bottom: 35px;width: 388px;height: 132px;margin-left: -190px;text-align: center;overflow: hidden;font-size: 15px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
          .wrap * {padding: 0;margin: 0;}
          .wrap .info {width: 386px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
          .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
          .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
          .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
          .info .close:hover {cursor: pointer;}
          .info .body {position: relative;overflow: hidden;}
          .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
          .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
          .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
          .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
          .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
        }
      }
    }
  }
}

body{
  background: rgb(0, 248, 165);
}
