@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

//  Phone & Tablet
@media(max-width: 1023px){
  /* 화면에서 스크롤바 안보이게 */
  .bg-bl{
    background-color: #000d0e;
    color: #f4cfdf;
  }
  .inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  .inner_wrapper::-webkit-scrollbar {
  display: none;
  }
}

@media(min-width: 1024px){
  .bg-bl{
    background-color: #000000;
    color: #f4cfdf;
  }
  .inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
  }
  /* 화면에서 스크롤바 안보이게 */
  .inner_wrapper::-webkit-scrollbar {
  display: none;
  }
}